.fun-navbar {
    background: #ffffff;
    padding: 12px 24px;
    margin: 20px auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.fun-title {
    color: #000000;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.fun-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fun-menu li button {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fun-menu li button.active {
    background: #e67e22; 
    color: #ffffff;
    border-color: #e67e22;
    box-shadow: 0 2px 5px rgba(230, 126, 34, 0.5);
}

.fun-menu li button:hover:not(.active) {
    background: #f0f0f0;
    color: #252323;
}

@media screen and (max-width: 678px) {
    .fun-navbar {
        flex-direction: column;
        align-items: center;
    }
    .fun-title {
        font-size: 20px;
        padding: 10px;
    }
    .fun-menu {
        gap: 8px;
        padding-top: 10px;
    }
    .fun-menu li button {
        font-size: 14px;
        padding: 5px 10px;
    }
}